.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.question {
    font-weight: bold;
}

.answers {
    margin-bottom: 20px;
}

#submit {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#results {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


button:hover {
    background-color: #0056b3;
}
