body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dashboard {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.5s;
}

.dashboard:hover {
    transform: perspective(1000px) rotateY(10deg);
}

.dashboard-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.category-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.category-btn:hover {
    background-color: #0056b3;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.btn {
    width: 200px;
}

